.navigation {
  height: 60px;
  width: 100%;
  position: sticky;
  top:0;
  z-index: 2;
  display: flex;
  justify-content:right;
  background-color: rgb(255, 255, 255, 0.90);
  margin-bottom: 25px;

  .nav-link-one {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-right: 20px;
  }
  .nav-link-two {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-right: 100px;
  }
  .one {
    width:100px;
    padding: 5px 10px;
    height: 30px;
    border: 1px solid black;
    color:black;
    background-color: transparent;
    border-radius: 10px;
  }

}
